

<form asp-action="Edit">
    <div class="form-horizontal">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" id="Id" name="Id" value="@ViewBag.Usuario.Id" />
        <input type="hidden" id="Salt" name="Salt" value="@ViewBag.Usuario.Salt" />
        <div class="form-group">
            <label>Nome</label>
            <div class="col-md-10">
                <input type="Text" Id="Nome" name="Nome" value="@ViewBag.Usuario.Nome" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <div class="col-md-10">
                <input type="Text" Id="Email" name="Email" value="@ViewBag.Usuario.Email"  class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label>CPF</label>
            <div class="col-md-10">
                <input type="Text" Id="Cpf" name="Cpf" value="@ViewBag.Usuario.Cpf"  class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label>Senha</label>
            <div class="col-md-10">
                <input type="password" Id="Senha" name="Senha" value="@ViewBag.Usuario.Senha"  class="form-control" readonly="true"/>
                <a href="#" onclick="LiberaCampoSenha()">Desejo Alterar a Senha.</a>
            </div>
        </div>
        <div class="form-group">
            <label>Ativo</label>
            <div class="col-md-10">
                <select id="Ativo" name="Ativo" class="form-control">
                    @if(ViewBag.Usuario.Ativo == 'S'){
                        <option value="S" selected>Sim</option>
                        <option value="N">Não</option>
                     }
                     else{
                        <option value="S" selected>Sim</option>
                        <option value="N" selected>Não</option>
                     }                  
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Perfil</label>
            <div class="col-md-10">
                 <select id="Perfil_Id" name="Perfil_Id" class="form-control">
                     @if(ViewBag.Usuario.Perfil_Id == 1){
                        <option value="1" selected>Usuario</option>
                        <option value="2">Admin</option>
                     }
                     else{
                        <option value="1">Usuario</option>
                        <option value="2" selected>Admin</option>
                     }                    
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
