<div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form asp-action="Create">
            <div class="form-horizontal">      

                <div class="form-group">
                    <label class="col-md-2 control-label">Nome</label>
                    <div class="col-md-10">
                        <input type="Text" id="Nome" name="Nome"  class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Formulário</label>
                    <div class="col-md-10">
                        <input type="Text" id="Formulario" name="Formulario" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Função</label>
                    <div class="col-md-10">
                        <input type="Text" id="Funcao" name="Funcao"  class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Link</label>
                    <div class="col-md-10">
                        <input type="Text" id="Link" name="Link" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Back-End</label>
                    <div class="col-md-10">
                        <select id="Back" name="Back" class="form-control">
                            @foreach (var item in ViewBag.ListaSituacao){                                              
                                <option value="@item">@item</option>
                            }                                         
                        </select>                      
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Front-End</label>
                    <div class="col-md-10">
                        <select id="Front" name="Front" class="form-control">
                            @foreach (var item in ViewBag.ListaSituacao){                                              
                                <option value="@item">@item</option>
                            }                       
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Layout</label>
                    <div class="col-md-10">
                        <select id="Layout" name="Layout"  class="form-control">
                            @foreach (var item in ViewBag.ListaSituacao){                                              
                                <option value="@item">@item</option>
                            }                 
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">ObsApp</label>
                    <div class="col-md-10">
                        <input type="Text" id="ObsApp" name="ObsApp" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tabela Origem</label>
                    <div class="col-md-10">
                        <input type="Text" id="OriginTable" name="OriginTable"  class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tabela Destino</label>
                    <div class="col-md-10">
                        <input type="Text" id="DestinTable" name="DestinTable" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">ObsTable</label>
                    <div class="col-md-10">
                        <input type="Text" id="ObsTable" name="ObsTable" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">MenuPai</label>
                    <div class="col-md-10">
                        <select id="MenuPai_Id" name="MenuPai_Id"  class="form-control">
                            <option value="0">Sem Pai</option>
                            @foreach (var item in ViewBag.ListaMenuPai){
                                <option value="@item.Id">@item.Nome</option>
                            }
                        </select>
                    </div>
                </div>  

                <input type="hidden" id="Projeto_Id" name="Projeto_Id" class="form-control" value="@ViewBag.projeto" />
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Concluir" class="btn btn-default" />
                    </div>
                </div>

            </div>
        </form>

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>