<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDetails">
  Detalhes
</button>-->

<div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

           @{/*
                var MenuPai = "";

                foreach (var pai in ViewBag.ListaMenuPai) {
                
                  if (pai.Id == ViewBag.Menu.MenuPai_Id){
                      MenuPai = pai.Nome;
                  }
              }
           */}
            
          
            <dl class="dl-horizontal">
                <dt>
                    Função
                </dt>
                <dd>
                    @ViewBag.Menu.Funcao 
                </dd>
                <dt>
                    Formulario
                </dt>
                <dd>
                    @ViewBag.Menu.Formulario 
                </dd>
                <dt>
                    Link
                </dt>
                <dd>
                    <a href="@ViewBag.Menu.Link">
                    @ViewBag.Menu.Link</a>
                </dd>
                <dt>
                    Obs App
                </dt>
                <dd>
                    @ViewBag.Menu.ObsApp 
                </dd>
                <dt>
                    Obs Tabelas
                </dt>
                <dd>
                    @ViewBag.Menu.ObsTable
                </dd>
               
            </dl>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>