<!--========== ESSA TABELA É CHAMADA NO FORMULARIO Menu/Index  -->
<table class="table">   
    <thead>     
        <tr>
            <th>Menu Pai / Controller</th>           
            <th>Menu Nome / Action</th>
            <th>Back-End</th>
            <th>Front-End</th>
            <th>Layout</th>        
            <th>Tabela Origem</th>
            <th>Tabela Destino</th>        
            <th></th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in ViewBag.ListaMenu) {
    var MenuPai = "";
    @foreach (var pai in ViewBag.ListaMenuPai) {
        if (pai.Id == item.MenuPai_Id){
            MenuPai = pai.Nome;
        }
    }
        // ==================================== LINHA CORPO DA TABELA ===========================================-->
        <tr>
            <td>@MenuPai</td>
            <td>@item.Nome</td>                    
            <td>@item.Back</td>
            <td>@item.Front</td>
            <td>@item.Layout </td>
            <td>@item.OriginTable</td>
            <td>@item.DestinTable</td>
            <td>
                <a href="#" onclick="Details(@item.Id)" class="btn btn-info">Detalhes</a>
                <a href="#" onclick="Edit(@item.Id)">Edit</a> |
                <a href="#" onclick="Delete(@item.Id)" style="color:red">Delete</a>                 
            </td>
        </tr>
        }
    </tbody>
</table>