<!--========== ESSA TABELA É CHAMADA NO FORMULARIO Menu/Index  -->
<table class="table">   
    <thead>     
        <tr>
            <th>Menu Pai</th>           
            <th>Nome</th>
            <th>Back-End</th>
            <th>Front-End</th>
            <th>Layout</th>        
            <th>Tabela Origem</th>
            <th>Tabela Destino</th>        
            <th></th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in ViewBag.ListaMenu) {
    var MenuPai = "";
    @foreach (var pai in ViewBag.ListaMenuPai) {
        if (pai.Id == item.MenuPai_Id){
            MenuPai = pai.Nome;
        }
    }
        // ==================================== LINHA CORPO DA TABELA ===========================================-->
        <tr>
            <td>@MenuPai</td>
            <td>@item.Nome</td>                    
            <td>@item.Back</td>
            <td>@item.Front</td>
            <td>@item.Layout </td>
            <td>@item.OriginTable</td>
            <td>@item.DestinTable</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a href="#" id="deleteMenu" onclick="Delete(@item.Id)">Deletar</a> |
                <a href="#" id="detalhesMenu" onclick="Detalhes(@item.Id)">Detalhes</a>
            </td>
        </tr>
        }
    </tbody>
</table>