
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Developer</h4>
    <p>Organize suas atividades de desenvolvimento.</p>
    <p>Selecione um dos projetos abaixo ou crie um novo.</p>
</div>

<div>
    <a href="#" onclick="New()">+ Novo</a>
</div>

<table class="table">   
    <thead>
        <tr>
            <th>
                Sigla
            </th>
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@if (ViewBag.ListaProjetos != null)
{
    @foreach (var item in ViewBag.ListaProjetos) {

        <tr>
            <td>
                <a asp-controller="Menu" asp-action="Index" asp-route-id="@item.Id">
                @item.Sigla
                </a>
            </td>
            <td>
                <a asp-controller="Menu" asp-action="Index" asp-route-id="@item.Id">
                @item.Nome
                </a>
            </td>                               
            <td>
                <a href="#" onclick="Details(@item.Id)" style="color:green">Detalhes</a> |
                <a href="#" onclick="Edit(@item.Id)">Edit</a> |
                <a href="#" onclick="Delete(@item.Id)" style="color:red">Delete</a> |                
            </td>
        </tr>
    }
}
else{
    <tr>
        <td> colspan="3">
            Não há projetos registrados!
        </td>
          
    </tr>
}
    
    
  
    </tbody>
</table>




<!-- ======== ID DE MODALS CHAMADAS NO ARQUIVO 'projeto.js' =============================-->
<div id="CreateProjeto">
</div>

<div id="editProjeto">
</div>

<div id="deleteProjeto">    
</div>

<div id="detalhesProjeto">
</div>



<script src="~/js/projeto.js" asp-append-version="true"></script>